<div class="not-found">
    <div class="cont">
        <div class="row justify-content-center align-items-center">
            <div>
                <div class="not-found__head">
                    <span class="not-found__er">ОШИБКА 404</span>
                    <span class="not-found__title">Страница не найдена</span>
                </div>

                <button class="bt bt-gr" type="button">Вернуться в меню</button>
            </div>

        </div>
    </div>
</div>