<!-- services-list page -->
<div class="cont">
    <div class="services">
        <ul class="services__list">
            <!-- services-item -->
            <li class="services__item">
                <a href="/garfield" class="service">
                    <div class="service__logo"></div>
                    <span class="service__title">Логистический</span>
                </a>
            </li>
            <!-- end -->
        </ul>
    </div>
</div>
<!-- end -->
