<h1>Login Page</h1>
<p class="lead">Say something worthwhile here.</p>
<br/>
<form action="/login" method="post">
    <input class="form-control" name="username" placeholder='Enter Username' />
    <input class="form-control" type='password' name="password" placeholder='Password'/>
    <button class="btn btn-default" type='submit'>Submit</button>
</form>
<a href='/'>Cancel</a>

